<ion-fab slot="fixed" vertical="bottom" horizontal="center">
  <ion-button id="open-modal">
    <ion-icon slot="start" name="airplane"></ion-icon>
    CHECK IN
  </ion-button>
</ion-fab>

<ion-modal
  #modal
  trigger="open-modal"
  [canDismiss]="canDismiss"
  [presentingElement]="checkInModal"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">
            <ion-icon name="close" />
          </ion-button>
        </ion-buttons>
        <ion-title>Welcome</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Enter your name"
          labelPlacement="stacked"
          type="text"
          placeholder="Your name"
        ></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
