<ion-fab slot="fixed" vertical="bottom" horizontal="center">
  <ion-button id="open-modal">
    <ion-icon slot="start" name="airplane"></ion-icon>
    CHECK IN
  </ion-button>
</ion-fab>

<ion-modal
  #modal
  trigger="open-modal"
  [canDismiss]="canDismiss"
  [presentingElement]="checkInModal"
>
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>Wprowadź dane lotu</ion-title>
      </ion-toolbar>
      <ion-item>
        <ion-list>
          <ion-item>
            <ion-input label="Promień lotu" placeholder="650" type="number" /> m
          </ion-item>
          <ion-item>
            <ion-input
              label="Maksymalna wysokość lotu"
              placeholder="50"
              type="number"
            />
            m
          </ion-item>
          <ion-item>
            <ion-input
              label="Czas trwania lotu"
              type="number"
              placeholder="40"
            />
            min
          </ion-item>
          <ion-item>
            <ion-select
              label="Wybierz drona"
              interface="action-sheet"
              [interfaceOptions]="customActionSheetOptions"
              cancelText="Anuluj"
            >
              <ion-select-option value="dji2_mini_pro"
                >DJI2 Mini Pro</ion-select-option
              >
              <ion-select-option value="agras_t40">Agras T40</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-button slot="start"
              ><ion-icon name="locate"></ion-icon
            ></ion-button>
            <ion-input label="Dł. geo." placeholder="22.15"></ion-input>
            <ion-input label="Szer. geo." placeholder="54.12"></ion-input>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-content>
    <ion-footer>
      <ion-toolbar style="padding-left: 1rem; padding-right: 1rem">
        <ion-button fill="clear" slot="start" (click)="cancel()" color="danger">
          Anuluj
        </ion-button>
        <ion-button fill="clear" slot="end" (click)="cancel()" color="primary">
          Zatwierdź
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
