/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-button {
  --border-radius: 8px;
}

ion-skeleton-text {
  --border-radius: 8px;
}

body {
  background: url("/assets/png/background.png") no-repeat center center;
  background-size: cover;
}

ion-content {
  --background: none;
}

ion-modal#sheet-modal {
  --border-radius: 8px 8px 0 0;
}

ion-menu::part(container) {
  border-radius: 0 8px 8px 0;
  --min-width:300px;
  opacity: 0.95;
  box-shadow: rgb(27, 27, 27) 4px 0px 16px !important;
} 

ion-menu{
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

ion-toolbar{
  background: var(--background);
  box-shadow: rgb(27, 27, 27) 0px 4px 16px;
  opacity: 0.95;
  //backdrop-filter: blur(10px) !important;
}

ion-card{
  backdrop-filter: blur(10px) !important;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 16px rgb(27, 27, 27) !important; 
  --border-radius: 8px;
}

ion-modal{
  backdrop-filter: blur(10px) !important;
  background-color: rgba(0, 0, 0, 0.3);
  --border-radius: 8px;
}

.sc-ion-alert-md-h{
  backdrop-filter: blur(10px) !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  //background: var(--background) !important;
}

.alert-wrapper.sc-ion-alert-md{
  box-shadow: 0 4px 16px rgb(27, 27, 27) !important; 
  background-color: rgba(0, 0, 0, 0.3) !important;
  background: var(--background) !important;
}






