<ion-header role="menubar">
  <ion-toolbar>
    <ion-title slot="start"> FlightDrone </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-accordion-group
    expand="inset"
    style="
      position: absolute;
      top: 12px;
      left: 12px;
      right: 12px;
      max-width: 384px;
      z-index: 1;
    "
  >
    <ion-accordion role="banner" value="first">
      <ion-item slot="header" color="light">
        <ion-label>Notifications</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Most tracked drones</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Favourite locations</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>
  <app-map />
</ion-content>

<ion-menu role="menu" contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
